name: CI

# Whenever a push is made to the master branch then run the job
on:
  push:
    branches:
      - master

jobs:
  # job id, can be anything
  export_game:
    # Always use ubuntu-latest for this action
    runs-on: ubuntu-latest
    # Job name, can be anything
    name: Export Game Job
    steps:
      # Always include the checkout step so that 
      # your project is available for Godot to export
    - name: checkout
      uses: actions/checkout@v1
    - name: export game
      # Use version 1.0.0 (see releases for all versions)
      uses: firebelley/godot-export@v1.0.1
      with:
        # Base version. Patch versions are incremented when this action runs.
        base_version: 0.0.1
        # The download url of the 64 bit Linux Headless Godot executable
        godot_executable_download_url: https://downloads.tuxfamily.org/godotengine/3.1.2/Godot_v3.1.2-stable_linux_headless.64.zip
        # The url of the export templates corresponding to the Godot executable version
        godot_export_templates_download_url: https://downloads.tuxfamily.org/godotengine/3.1.2/Godot_v3.1.2-stable_export_templates.tpz
        # The relative path containing the "project.godot" file
        relative_project_path: ./
        # The name of the folder which templates are stored in. Looks like '3.1.1.stable.mono'. Can be found at %APPDATA\Roaming\Godot\templates on Windows and ~/.local/share/godot/templates on Linux.
        godot_template_version: 3.1.2.stable
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    # upload generated exports to another server
    - name: Check Exports Job
      run: |
        ls -la /home/runner/.local/share/godot/builds/
    - name: Upload Exports Job
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.UPLOAD_HOST }}
        username: ${{ secrets.UPLOAD_USER }}
        password: ${{ secrets.UPLOAD_PASS }}
        port: ${{ secrets.UPLOAD_PORT }}
        source: "/home/runner/.local/share/godot/builds/1/"
        target: "/volume1/development/workspace/godot-familytree/dist/"
        strip_components: 7
